figure{
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;
    background-color: #555;    
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2{
            font: normal 120px/1 "arial";
            color: #fff;
            margin-bottom: 20px;
        }
        p{
            font: 16px/1.4 "arial";
            color: #888;
            margin-bottom: 80px;
        }
        a{
            display: block;
            width: 400px;
            height: 30px;
            border: 1px solid #bbb;
            text-align: center;
            font: bold 11px/30px "arial";
            color: #fff;
            &:hover {
                background-color: #fff;
                color: #555;
            }
        }
    }
}
@media screen and (max-width:1179px){
    figure{
        height: calc(100vh - 100px);
        background-image: url(../img/visual1.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        video{
            display: none;
        }
        .inner{
            width: 100%;
            padding: 0px 20px;
            h2{
                font: normal 14vw/1 "arial";
            }
            a{
                width: 100%;
            }
        }
    }
}