footer{
    width: 100%;
    padding: 100px 0;
    background-color: #555;
    .inner{
        width: 1180px;
        margin: 0 auto;
        &::after{
            content: '';
            display: block;
            clear: both;
        }
        h1{
            font: bold 24px/ "arial";
            color: #666;
            float: left;
        }
        ul{
            float: right;
            li{
                float: left;
                margin-left: 20px;
                a{
                    font: bold 14px/1 "arial";
                    color: #aaa;
                }
            }
        }
        address{
            float: left;
            width: 100%;
            font: 14px/1.3 "arial";
            color: #bbb;
            margin-bottom: 20px;
            margin-top: 20px;
            border-top: 1px solid #888;
            padding-top: 20px;
        }
        p{
            float: left;
            width: 100%;
            font: 12px/1 "arial";
            color: #777;
        }
    }
}
@media screen and (max-width:1179px) {
    footer{
        padding: 80px 20px;
        .inner{
            width: 100%;
            ul{
                float: auto;
            }
        }
    }
}
@media screen and (max-width:450px) {
    footer{
        .inner{
            h1{
                font: bold 14px/ "arial";
                margin-bottom: 20px;
            }
            ul{
                float: left;
            }
        }
    }
}